body {
    background-color: black;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sinopse {
    color: white;
    font-family: 'Lucida Console';
    width: 40%;
    margin: 20px auto;
}

.poster {
    height: 400px;
    border: 1px solid white;
    border-radius: 5%;
}

.alegria {
    border: 1px solid white;
    background-image: linear-gradient(to right, orange, yellow);
}
.tristeza {
    border: 1px solid white;
    background-image: linear-gradient(to right, lightblue, navy);
}
.emoimg{
    width: 300px;
}
